fastapi==0.119.0
uvicorn==0.37.0
starlette==0.48.0
python-dotenv==1.1.1
httpx==0.28.1
requests==2.32.5
python-jose==3.5.0
motor==3.7.1
pymongo==4.15.3
langchain-core==0.3.78
langgraph==0.3.21
langchain-google-genai==2.1.12
websockets==15.0.1