#root {
  margin: 0 auto;
  text-align: center;
}

.App {
  min-height: 100vh;
  background-image: url('../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
