@import 'tailwindcss';
@theme {
  --color-primary: #13c791ff;
  --color-secondary: #e2f9f6;
  --color-accent: #229a92;
  --color-warning: #fba700;
  --color-danger: #d35900;
  --color-info: #1e82a6;
}

* {
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
