@import "tailwindcss";
@theme {
  --color-primary: #13c791ff;
  --color-secondary: #E2F9F6;
  --color-accent: #229A92;
  --color-warning: #FBA700;
  --color-danger: #D35900;
  --color-info: #1E82A6;
}

* {
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}